.card {
    margin-bottom: 16px;

    border: 1px solid #444;

    &__content {
        padding: 16px;
    }

    &__heading {
        background-color: #b3cccc;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 4px;
        padding-top: 4px;

        color: #fff;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        width: 100%;
    }
}
