.card {
    margin-bottom: 16px;

    border: 1px solid #444;

    &__content {
        padding: 16px;
    }

    &__heading {
        padding-bottom: 16px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        width: 100%;
    }
}
