.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;

    border-bottom: 1px solid #000;

    &__logo {
        font-weight: 600;
    }
}
